<div class="welcome"><h1><%= @cyclist.name %>'s Biked Profile</h1></div>

<div class="grid">

  <div class="cell">
    <h1>About this cyclist</h1>

    <div class="image">
      <img src="<%= ImageCarousel.profile() %>" alt="landscape image of route">
    </div>

    <div class="copy">
      Here is some profile information about this cyclist and what they like to do.
      <br>
      Lorem ipsum dolor sit amet, et saepe mediocrem quo, ea quo agam quot. </br>
    </div>

    <div class="buttons">
      <div class="edit">
        <form method="get" action="/cyclists/<%= @cyclist.id %>/edit">
          <input type="submit" value="Edit profile" />
        </form>
      </div>

      <div class="edit">
        <form method="post" action="/cyclists/<%= @cyclist.id %>/delete">
          <input type="submit" value="Delete Profile" />
        </form>
      </div>

  </div>

    </div>

  <div class="cell">
      <h1>Stats galore</h1>

        <div class="stats-cell">
          Total miles: <%= @cyclist.total_miles() %>
        </div>
        <div class="stats-cell">
          Total elevation: <%= @cyclist.total_climb() %> feet
        </div>
        <div class="stats-cell">
          Total logged rides: <%= @cyclist.total_routes() %>
        </div>
        <div class="buttons">
          <form method="get" action="/rides/new">
            <input type="submit" value="Add a new ride" />
          </form>
        </div>
  </div>

</div>
