<div class="welcome"><h1><%= @route.title %></h1></div>

<div class="grid">

  <div class="cell">
    <h1>About this route</h1>

    <div class="image">
      <img src="<%= ImageCarousel.random() %>" alt="route image">
    </div>

    <div class="copy">
      Here is some information about this route and where it goes etc.
      <br>
      Lorem ipsum dolor sit amet, et saepe mediocrem quo, ea quo agam quot. </br>
    </div>

    <div class="buttons">
      <div class="edit">
        <form method="get" action="/routes/<%= @route.id %>/edit">
          <input type="submit" value="Edit route" />
        </form>
      </div>

      <div class="edit">
        <form method="post" action="/routes/<%= @route.id %>/delete">
          <input type="submit" value="Delete Route" />
        </form>
      </div>

  </div>

    </div>

  <div class="cell">
      <h1>Stats at a glance</h1>

        <div class="stats-cell">
          Route distance: <%= @route.distance() %> miles
        </div>
        <div class="stats-cell">
          Total elevation: <%= @route.elevation() %> feet
        </div>
        <div class="stats-cell">
          Average cycle time:
          <% ConvertTime.hours(@route.average_time) %>
          <%= ConvertTime.days(ConvertTime.hours(@route.average_time)) %> days (7 hr day)
        </div>
        <div class="stats-cell">
          Total logged rides: <%= @route.total_cyclists() %>
        </div>
        <div class="buttons">
          <form method="get" action="/rides/new">
            <input type="submit" value="Cycled this route? Log it!" />
          </form>
        </div>
  </div>

</div>
