<h1>Route Information</h1>


<p>Title: <%= @route.title() %>
<p>Distance: <%= @route.distance() %>
<p>Elevation: <%= @route.elevation()%></p>
<p>Logged cycles: <%= @route.total_cyclists()%></p>




<p><a href="/routes/<%= @route.id %>/edit">Edit route</a></p>

<form method="post" action="/routes/<%= @route.id %>/delete">
     <input type="submit" value="Delete route" />
   </form>
