<h1>Route Information</h1>


<p>Title: <%= @route.title() %>
<p>Distance: <%= @route.distance() %>
<p>Elevation: <%= @route.elevation()%></p>
<p>Logged cycles: <%= @route.total_cyclists()%></p>
<p>Cycled by: </p>
  <p><% @cyclists.each do |cyclist| %>
  <%= cyclist.name %></p>
  <% end %>



    <p></p>
      <form method="get" action="/routes/<%= @route.id %>/edit">
      <input type="submit" value="Edit route" />
    </form><p></p>

<form method="post" action="/routes/<%= @route.id %>/delete">
     <input type="submit" value="Delete route" />
   </form>
