<h1>Edit ride</h1>

<div class="form">
<form action="/rides/<%= @ride.id %>" method="post">
  <label for="cyclist-selection">
    Select a cyclist:</label>
    <select name="cyclist_id" id="cyclist-selection">
      <% for cyclist in @cyclists %>
      <option value="<%= cyclist.id %>" <%= "selected" if @ride.cyclist_id == cyclist.id %> ><%= cyclist.name %></option>
      <% end %>
    </select>


    <label for="route_selection">
      Select a route:</label>
      <select name="route_id" id="route-selection">
        <% for route in @routes %>
        <option value="<%= route.id %>" <%= "selected" if @ride.route_id == route.id%> ><%= route.title %></option>
        <% end %>
      </select>


    <label for ="date-logged">Date logged:</label>
    <input id="date-logged" type="date" name="date_logged" value="<%=@ride.date_logged %>" />

    <label for ="time-taken">Time to complete (mins):</label>
    <input id="time-taken" type="text" name="completion_time" value="<%=@ride.completion_time %>" />



      <input type='submit' value="Edit ride!">
    </form>
  </div>
